{% extends 'base.html.twig' %}

{% block title %}NOPLP!{% endblock %}

{% block body %}


<div class="flex justify-center">
    <div class="flex flex-col">
        <h1 class=" m-4">Bonjour Hélène</h1>

        <h3 class="m-2">Dernières chansons ajoutées :</h3>
        <div class="border p-4">
            <ul>
                <li>Amel Bent & Hatik - 1, 2, 3</li>
                <li>Mozart l'Opéra Rock - L'Assassymfonie </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
