{% extends 'base.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Liste des personnes</h1>

    <ul class="space-y-2">
        {% for person in people %}
            <li class="p-4 bg-gray-100 rounded-lg shadow hover:bg-gray-200">
                {{ person.name }} {# adapte avec le vrai nom du champ de ton entité #}
            </li>
        {% else %}
            <li>Aucune personne enregistrée.</li>
        {% endfor %}
    </ul>
{% endblock %}
